/* ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 109, 185);
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffcc00;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
    border-radius: 50px;
  } */
/*GENERAL-----------------------------------------*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  position: relative;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border-radius: 35px;
  cursor: pointer;
  padding: 10px 28px;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-icon {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none {
  display: none !important;
}

/*------------------------*/
body {
  font-family: 'Fredericka the Great', cursive;
  color: #555353;
}

.sec-autentificacion {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fcf9ec;
  min-height: 100vh;
  width: 100%;
}

.img-logo {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  background-image: url(img/logo-color.png);
  background-size: cover;
}

.sec-autentificacion .text-peq {
  text-align: center;
  font-size: 12px;
  width: 100%;
}

.text-login {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.banner .text-login {
  display: none;
}

.sec-autentificacion h1 {
  width: 200px;
  height: 138px;
  font-size: 0;
  background-image: url(img/logo-color.png);
  background-size: 100%;
}

.form-login {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  width: 320px;
}

.login-input {
  font-size: 13px;
  width: 250px;
  background-color: white;
  color: #444444;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #12d369;
  margin-top: 15px;
}

.icon-input {
  background-size: cover;
  width: 17px;
  height: 17px;
  position: absolute;
  cursor: pointer;
}

.info-alert {
  border: 1px solid #ff0c19;
}

.ms-info-alert {
  color: #ff0c19;
  width: 250px;
  text-align: center;
  font-size: 12px;
  margin: 7px 0 10px;
  font-family: 'Courier New', Courier, monospace;
  /* height: 30px; */
}

.icon-clave {
  background-image: url(img/icon-ocultar.png);
  width: 17px;
  height: 17px;
  right: 13px;
  bottom: 10px;
}

.cont-acceso.click .icon-clave {
  opacity: 0.8;
}

.icon-clave.mostrar {
  background-image: url(img/icon-mostrar.png);
}

.login-btn {
  background-color: #12d369;
  color: white;
}

.cont-btn-redes {
  width: 100%;
  margin-top: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-btn-redes button {
  width: 37px;
  height: 37px;
  margin: 15px 9px;
  cursor: pointer;
}

.btn-google {
  background-color: #12d369;
  background-image: url(img/icon-google.png);
  padding: 12px;
  border-radius: 50px;
}

.btn-facebook {
  background-color: #12d369;
  background-image: url(img/icon-facebook.png);
  padding: 12px;
  border-radius: 50px;
}

.sec-autentificacion .text-peq a {
  font-weight: bold;
}

.menu-bar {
  top: 0;
  position: absolute;
  height: 3em;
  width: 100vw;
  background-color: #87e79c;
}

/* user-card */
.user-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 15px 20px;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 600px;
  min-width: 300px;
}

.current-user-picture {
  width: 150px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px -3px #333333;
          box-shadow: 0px 0px 6px -3px #333333;
  z-index: 1;
}

.user-card-info {
  width: 100%;
  font-size: 13px;
  min-width: 150px;
  background-color: #87e79c;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 65px 40px 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px -3px #12d369;
          box-shadow: 0px 0px 5px -3px #12d369;
  margin-top: -40px;
  text-align: center;
}

.container-net {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3em;
}

/*Formulario-----------*/
.container-posts {
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 600px;
  min-width: 300px;
  font-family: 'Courier New', Courier, monospace;
}

/*Formulario------------------------*/
.box-form-user {
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px -3px #12d369;
          box-shadow: 0px 0px 5px -3px #12d369;
  margin-bottom: 30px;
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-form-user {
  width: 100%;
  border: 1px solid #12d369;
  padding: 16px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.remove-img {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  z-index: 2;
  border-radius: 20px;
  background-image: url(img/icon-close.png);
  background-size: 52%;
}

.btn-upload-img {
  width: 128px;
  cursor: pointer;
}

.btn-form-user {
  margin: 0 8px;
  border: 1px solid #12d369;
}

.btn-publicar {
  margin-left: 0%;
  background-color: #12d369;
  color: white;
}

.box-form-user .list-menu {
  bottom: -56px;
  right: 132px;
}

/*Formulario Fin------------------------*/
/*Post------------------------*/
.box-post-user {
  background-color: white;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px -3px #12d369;
          box-shadow: 0px 0px 5px -3px #12d369;
  padding: 20px;
  margin: 20px 0;
}

.post-user-info {
  background-color: white;
  width: 100%;
}

.post-user-photo {
  border: 1px solid #12d369;
  background-color: initial;
  width: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 15px;
}

.post-user-name {
  color: #12d369;
  font-weight: bold;
  font-size: 17px;
}

.cont-post-user-date {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 2px;
}

.post-user-date {
  float: left;
  font-size: 13px;
  margin-right: 12px;
  font-weight: bold;
}

.box-post-user .icon-public,
.box-post-user .icon-private {
  border: 1px solid #12d369;
  background-color: initial;
  background-size: 55%;
  height: 25px;
  width: 25px;
}

.icon-menu-puntos {
  position: absolute;
  background-color: initial;
  background-image: url(img/icon-menu-minimo.png);
  width: 28px;
  height: 28px;
  top: -2px;
  right: -7px;
}

.post-user-cont {
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
}

.post-user-text {
  font-size: 14px;
}

.post-user-img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 12px 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

.post-user-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.icon-comentario {
  background-image: url(img/icon-comentario.png);
}

.box-post-user .list-menu {
  top: 0;
  right: 19px;
}

.img-to-post {
  width: 100%;
}

.delete-post {
  background-color: #ff0c19;
}

/*Post------------------------ Fin*/
@media (min-width: 801px) {
  .banner {
    width: 50%;
    height: 100vh;
    background-image: url(img/plastic-banner.jpg);
    background-size: contain;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .sec-autentificacion h1 {
    width: 200px;
  }
  .banner .text-login {
    margin: 20px 0;
    color: white;
    width: 80%;
    font-size: 20px;
    display: initial;
  }
  .sec-autentificacion {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-login {
    width: 50%;
    height: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */